body {
	font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 1199px) {
	.news {
		width: 49.5% !important;
	}

	.news-text {
		padding: 28px 48px !important;
	}

	.category {
		width: 49.5% !important;
	}

	.category-content {opacity: 1 !important;}

	.item {
		width: 32.8% !important;	
	}

	.brand-container {
		padding: 0px 60px !important;
	}

	.nav .top {
		position: fixed;
		left: -100%;
		height: 100vh;
		width: 100vw;
		background-color: white;
		z-index: 2;
		transition: .3s;
	}

	.nav .top a, .nav .top p {
		font-size: 18px !important;
	}

	.nav .top .button {
		width: 100%;
		font-size: 18px !important;
	}

	.toggler {
		position: relative;
		display: block !important;
		width: 24px;
		height: 36px;
		cursor: pointer;
		z-index: 1;
	}

	.toggler div {
		background-color: #0a0a0a;
		height: 2.4px;
		width: 24px;
		margin: 7px 0px;
		transition: .3s;
	}

	.toggler:hover div {background-color: #d81f83;}

	.popup-container {
		padding: 64px 128px !important;		
	}

	.popup-close { right: 100px !important; }

	.item-big-text {
		padding: 0px 48px 0px 24px !important;
	}

	.w-xl-75 {width: 100% !important;}
}

@media screen and (max-width: 991px) {
	.footer .button {
		width: 100%;
	}

	.m-top-0 {
		margin-top: 0px !important;
	}

	.padding-0 {
		padding: 0 !important;
	}

	.arrow-back {transform: translate(40px, 0px) rotate(180deg) !important;}

	.width-100 {
		width: 100%;
	}

	.brand-container {
		padding: 0px 00px !important;
	}

	.item {
		border: 1px solid #dadada !important;
		width: 49.5% !important;
	}

	.item-favorite i:nth-of-type(1) {opacity: 1 !important;}

	.nav .bottom {
		overflow-x: scroll;
		background-color: #f5f5f5;
	}

	.nav .bottom::-webkit-scrollbar-track {
		background-color: #f5f5f5;
	}

	.nav .bottom::-webkit-scrollbar {
		height: 2px;
	}

	.nav .bottom::-webkit-scrollbar-thumb {
		background-color: #0a0a0a;
	}

	.nav .bottom a {
		border-bottom: none !important;
		padding: 16px 0px !important;
	}

	.nav .bottom a:hover {
		border-bottom: none !important;
	}

	.nav .bottom .active {color: #d81f83;}

	.logo {
		position: absolute;
		top: -4px;
		width: 100%;
		text-align: center;
		font-size: 24px !important;
	}

	.count {right: 18px !important;}

	.nav .button {padding-right: 0 !important;}

	.news a {margin-right: 0 !important;}

	.news-date {padding-left: 0 !important;}

	.news-text {
		padding: 28px 24px !important;
	}

	.baner-2 h2 { 
		padding: 20px 24px !important; 
		font-size: 28px;
	}

	.baner-3 { height: 240px !important; }

	.news-text p {margin-right: 0 !important;}

	.news-text h3 {margin-right: 0 !important;}

	.block {padding: 16px 24px !important;}
	.plus {right: 16px !important;}

	.popup-container {
		width: calc(100% - 48px) !important;
		left: 24px !important;
	}

	.item-big-text {
		padding: 0px !important;
	}
}

@media screen and (max-width: 767px) {
	.news {
		width: 100% !important;
		border: none !important;
	}

	.news:hover {
		border: none !important;
	}

	.category {
		width: 100% !important;
		margin-top: 16px !important;
	}

	.item {
		width: 100% !important;
	}

	.block-item {
		right: 160px !important;
	}

	.block-price {
		right: 60px !important;
	}

	.popup-container {
		width: 100% !important;
		left: 0px !important;
		top: 0px !important;
		padding: 16vh 48px 0px !important;
		height: 100%;
	}

	#thanks-popup .popup-container {
		padding: 32vh 48px 0px !important;
	} 

	.popup-close { 
		top: 36px !important;
		right: 36px !important; 
	}

	.baner-text {
		top: 30% !important;
		text-align: center;
		left: 10%;
	}
}

@media screen and (max-width: 575px) {
	.news h3 {
		top: 71% !important;
		margin-left: -24px;
	}

	.block-item {
		display: none;
	}

	.block-price {
		right: 32px !important;
	}

	.mt-13 {margin-top: 19px !important;}

	.info-item p.price {
		top: calc(100% - 46px) !important;
	}

	.info-item-additional p {
		margin-right: 12px !important;
	}

	.block {padding: 16px !important;}

	.baner-text {
		top: 20% !important;
	}
}

/** BASIC STAFF **/
	.p-18 {
		padding: 0px 18px;
	}
	.m-top {
		margin-top: 36px;
	}

	.mt-13 {margin-top: 13px;}

	.f-14 {
		font-size: 14px !important;
	}

	.f-18 {
		font-size: 18px !important;
	}

	.f-20 {
		font-size: 20px !important;
	}

	.f-36 {
		font-size: 36px !important;
	}

	.line {
		border-top: 1px solid #c4c4c4;
	}

	.color-grey {color: #858585;}

	.button {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
		padding: 8px 16px;
		border: 1px solid #1f1f1f;
		background-color: #FFF;
		transition: .3s;
	}

	.button:hover {
		background-color: #1f1f1f;
		color: #fff;
		transition: .3s;
	}

	.button-big {
		padding: 20px 16px !important;
		border: 2px solid #1f1f1f !important;
	}

	.button-small {
		font-weight: 300;
		font-size: 14px;
		font-family: 'Oswald', sans-serif;
		text-transform: lowercase;
	}

	.button-number {
		font-size: 14px;
		padding: 4px;
	}

	.button-link {
		border-bottom: 1px solid #0a0a0a;
		padding-bottom: 2px;
	}
	a:hover .button-link {border-bottom: 1px solid #d81f83;}

	.button-active {
		background-color: #1f1f1f;
		color: #fff;
	}

	a {
		font-size: 18px;
		padding: 4px 0px;
		font-weight: 500;
		color: #0a0a0a;
		display: block;
		transition: .3s;
	}

	a:hover {
		text-decoration: none;
		color: #d81f83 !important;
		transition: .3s;
	}

	a:hover div {
		background-color: #d81f83 !important;
		transition: .3s;
	}

	h1 {
		text-transform: uppercase;
		font-size: 52px;
		font-weight: 700;
	}

	h2 {
		text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
		text-align: center;
		font-weight: 700;
	}

	h3 {
		font-weight: 700;	
		font-size: 20px;
	}

	.oswald-font {
		font-family: 'Oswald', sans-serif;
	}

	input {
		padding: 4px 0px;
		font-size: 14px;
		border: none;
		border-bottom: 1px solid #1f1f1f;
		outline: none;
	}

	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	.label {
		display: block;
		position: relative;
		cursor: pointer;
		font-size: 12px;
		padding-left: 18px;
		margin: 0;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.label-2 {
		font-size: 14px;
		font-weight: 600;
		margin: 8px 0px;
	}

	.checkbox {
		position: absolute;
		top: 4px;
		left: 0px;
		width: 12px;
		height: 12px;
		border: 1px solid #0a0a0a;
	}

	.label input[type="checkbox"]:checked ~ .checkbox {
  		background-color: #0a0a0a;
	}

	.checkbox-2 {
		left: calc(100% - 20px) !important;
		top: 5px !important;
	}

	.checkbox:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	.label input[type="checkbox"]:checked ~ .checkbox:after {
	  display: block;
	}

	.label .checkbox:after {
	  left: 3px;
	  top: 0px;
	  width: 4px;
	  height: 8px;
	  border: solid white;
	  border-width: 0 1.4px 1.4px 0;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	.input-number {
		position: relative;
		font-size: 14px;
		font-weight: 700;
		padding: 8px;
		border: 1px solid #1f1f1f;
		background-color: #FFF;
		font-family: 'Oswald', sans-serif;
	}

	.input-number div {
		position: absolute;
		background-color: #1f1f1f;
		color: #FFF;
		height: 20px;
		width: 20px;
		right: -20px;
		cursor: pointer;
	}
	.input-number div:nth-of-type(1) {top: -1px;}
	.input-number div:nth-of-type(2) {bottom: -1px;}

	.input-number span {
		position: absolute;
		background-color: #FFF;
		width: 10px;
		height: 2.4px;
		top: 9px;
		left: 5px;
	}
	.input-number span:nth-of-type(2) {transform: rotate(90deg);}

	.input-number input[type=number] {
		padding: 0;
		border: none;
		font-size: 18px;
		width: 24px;
		text-align: center;
	}

	.input-number input[type=number]::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	}

	.input-number-popup {
		border: 1px solid #dadada;
		padding: 4px 0px;
		min-width: 44px;
	}

	.input-number-popup input[type="number"] {
		font-size: 14px;
		color: #0a0a0a;
		width: 100%
	}
	.input-number-popup input[type="number"]:disabled {
		color: #858585;
		background-color: white;
	}

	.input-popup {
		position: relative;
		border-bottom: 1px solid #858585;
		font-size: 14px;
		padding-left: 8px;
		font-weight: 600;
		cursor: pointer;
		color: #858585;
		width: 100%;
		transition: .3s;
	}

	.input-popup-radio {border-bottom: none !important;}

	.input-popup-open, .input-popup-active {
		color: #0a0a0a;
		border-bottom: 1px solid #0a0a0a;
	}

	.input-popup p {
		margin: 8px;
		padding-right: 12px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.input-popup input[type="radio"] {
		display: none;
	}

	.input-popup-arrow {
		position: absolute;
		width: 40px;
		height: 30px;
		top: 0px;
		right: 0;
		transition: .3s;
	}

	.input-popup-arrow div {
		position: absolute;
		top: 10px;
		background-color: #858585;
		width: 10px;
		height: 1.5px;
		transition: .3s;
	}
	.input-popup-arrow:hover div {background-color: #d81f83 !important;}
	.input-popup-open .input-popup-arrow div,
	.input-popup-active .input-popup-arrow div
	 {background-color: #0a0a0a;}

	.input-popup-arrow div:nth-of-type(1) {
		left: 17px;
		transform: rotate(45deg);
	}
	.input-popup-open .input-popup-arrow div:nth-of-type(1) {
		transform: rotate(-45deg);	
	}
	.input-popup-active .input-popup-arrow div:nth-of-type(1) {
		left: 20px;	
	}

	.input-popup-arrow div:nth-of-type(2) {
		right: 6px;
		transform: rotate(-45deg);
	}
	.input-popup-open .input-popup-arrow div:nth-of-type(2) {
		transform: rotate(45deg);	
	}
	.input-popup-active .input-popup-arrow div:nth-of-type(2) {
		right: 10px;	
	}

	.input-popup-content {
		position: absolute;
		display: none;
		left: 8px;
		top: 52px;
		width: calc(100% - 16px);
		border: 1px solid #dadada;
		background-color: #FFF;
		z-index: 3;
	}

	.input-popup-content p {
		margin: 8px;
		padding-right: 12px;
		font-size: 14px;
		font-weight: 600;
		cursor: pointer;
	}

	.input-popup-content p:hover {
		color: #d81f83;
	}


	.capacity {
		position: relative;
		display: inline;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: calc(33% - 12px);
	}

	.capacity input {
		opacity: 0;		
	}

	.capacity .checkmark {
		position: absolute;
		top: 0;
		left: 0;
		font-family: 'Oswald', sans-serif;
		background-color: white;
		border: 1px solid #0a0a0a;
		color: #0a0a0a;
		width: 100%;
		padding: 6.5px;
		text-align: center;
		transition: .3s;
	}

	.capacity input:checked ~ .checkmark {
		background-color: #0a0a0a;
		color: white;
		transition: .3s;
	}
/** BASIC STAFF ENDED **/

/** NAV **/
	.toggler {display: none;}

	.nav .top a, .nav .top p {
		font-size: 14px;
		color: #696969;
		text-align: center;
	}

	.nav .top .active {
		font-weight: 700;
		color: #0a0a0a;
	}

	.nav .button {
		font-size: 14px;
		font-weight: 300;
		text-transform: none;
		color: #696969;
		border: 1px solid #696969;
		padding: 4px 12px;
	}

	.nav .button:hover {
		color: #fff;
		border: 1px solid #d81f83 !important;
		background-color: #d81f83;
	}

	.nav .bottom a {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		margin: 0px 12px;
		padding: 28px 0px 20px;
		border-bottom: 3px solid #fff;
	}

	.nav .bottom a:nth-of-type(1) {margin-left: 0px;}
	.nav .bottom a:last-child {margin-right: 0px;}

	.nav .bottom a:hover {
		border-bottom: 3px solid #d81f83;
	}

	.nav .bottom .active {border-bottom: 3px solid #0a0a0a;}

	.nav .middle .logo {
		text-transform: uppercase;
		font-size: 36px;
		color: #0a0a0a;
	}

	.nav .middle .logo span {color: #d81f83;}

	.nav .middle .logo:hover {color: #0a0a0a !important;}

	.nav input:nth-of-type(1) {
		border: none;
		outline: none;
		border-bottom: 1px solid #0a0a0a;
		font-size: 18px;
	}

	.nav input:nth-of-type(2) {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 700;
		border: none;
		color: #0a0a0a;
	}

	.nav input:nth-of-type(2):hover {
		color: #d81f83;
		background-color: white;
		border: none !important;
	}

	.middle p {
		font-size: 16px !important;
		font-family: 'Oswald', sans-serif;
		
		color: #0a0a0a;
		margin: 0;
	}

	.line2 {
		margin: 4px 6px 0px 6px;
		height: 20px;
		width: 1px;
		background-color: #696969;
	}

	.count {
		position: absolute;
		top: 0;
		right: 10px;
		background-color: #FFBED5;
		font-size: 10px;
		border-radius: 50%;
		border: 1px solid #fff;
		width: 16px;
		height: 16px;
		text-align: center;
		font-weight: 700;
		z-index: 1;
	}

	.nav-close {
		position: absolute;
		top: 36px;
		right: 36px;
		width: 20px;
		height: 20px;
		cursor: pointer;
		display: none;
	}

	.nav-close div {
		position: absolute;
		top: 9px;
		width: 20px;
		height: 2px;
		background-color: #0a0a0a;
		transition: .3s;
	}

	.nav-close div:nth-of-type(1) {transform: rotate(45deg);}
	.nav-close div:nth-of-type(2) {transform: rotate(-45deg);}

	.nav-close:hover div {
		background-color: #d81f83; 
		transition: .3s;
	}
/** NAV ENDED **/

/** FOOTER **/
	.footer input:nth-of-type(1) {
		padding: 4px 0px;
		font-size: 14px;
		border: none;
		border-bottom: 1px solid #1f1f1f;
		outline: none;
	}

	.footer p {
		font-size: 14px;
		margin: 36px 0;
		color: #0a0a0a;
	}

	.footer h3 {
		font-weight: 700;
	}

	.footer h4 {
		font-size: 18px;
		font-weight: 700;
	}
/** FOOTER ENDED **/

/** CATEGORY **/
	.category {
		position: relative;
		height: 500px;
		width: 24.5%;
		margin-top: 8px;
	}

	.category-img {
		width: 100%;
		height: 100%;
		background-position: center;
	}

	.category h2 { color: #0a0a0a; }

	.category a {
		font-size: 16px;
		color: #696969;
	}

	.category-name {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, .4);
	}

	.category-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		border: 2px solid #0e0e0e;
		padding: 0px 36px;
		opacity: 0;
		transition: .3s;
	}

	.category-content:hover {
		opacity: 1;
		transition: .3s;
	}
/** CATEGORY ENDED **/

/** ARROW **/
	.arrow {
		position: absolute;
		top: 50%;
		right: 0px;
		transition: .3s;
	}

	.arrow-back {transform: rotate(180deg);}

	.arrow div:nth-of-type(1) {
		width: 40px;
		height: 1px;
		background-color: #696969;
	}

	.arrow div:nth-of-type(2) {
		position: absolute;
		right: 0;
		width: 8px;
		height: 1px;
		transform: translate(1px, 2px) rotate(-45deg);
		background-color: #696969;
	}

	.arrow div:nth-of-type(3) {
		position: absolute;
		right: 0;
		width: 8px;
		height: 1px;
		transform: translate(1px, -4px) rotate(45deg);
		background-color: #696969;
	}
/** ARROW ENDED **/

/** ITEM **/
	.item-big {
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		border: 2px solid #dadada;
		min-height: 240px;
	}

	.item-big-text {
		padding: 0px 100px 0px 60px;
	}

	.item {
		position: relative;
		height: 460px;
		width: 24.5%;
		border: 1px solid white;
		cursor: pointer;
		transition: .3s;
		margin-top: 8px;
	}

	.item:hover {
		border: 1px solid #dadada;
		transition: .3s;
		color: #0a0a0a !important;
	}

	.item:hover div {background-color: white !important;}

	.item:hover i:nth-of-type(1) {
		opacity: 1;
	}

	.item-img {
		position: absolute;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		top: 10%;
		left: 0;
		height: 50%;
		width: 100%;
	}

	.item-text {
		position: absolute;
		bottom: 0;
		height: 40%;
		width: 100%;
		text-align: center;
	}

	.item-text h4 {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 20px;
	}

	.item-text p {
		font-size: 13px;
		margin-bottom: 8px;
	}

	.item-text p:nth-of-type(2) {color: #858585;}

	.item-favorite {
		position: absolute;
		top: 24px;
		left: 24px;
		font-size: 20px;
		color: #dadada;
		transition: .3s;
		cursor: pointer;
	}

	.item-favorite i:nth-of-type(1) {opacity: 0;}

	.item-favorite:hover {
		color: #d81f83;
		transition: .3s;
	}

	.item-favorite i {position: absolute;}

	.item-favorite i:nth-of-type(2) {
		color: #d81f83;
		display: none;
	}

	.item-discount {
		position: absolute;
		top: 0;
		left: 30%;
		width: 40%;
		font-size: 14px;
		padding: 4px 16px;
		color: white;
		background-color: #0a0a0a;
		text-transform: uppercase;
		text-align: center;
	}
/** ITEM ENDED **/

/** NEWS **/
	.news {
		position: relative;
		margin-top: 1vw;
		height: 430px;
		width: 32.8%;
		border: 1px solid #fff;
		transition: .3s;
	}

	.news:hover {
		border: 1px solid #dadada;
		transition: .3s;
	}

	.news-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 67%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.news h3 {
		position: absolute;
		top: 74%;
		left: 0;
		border-left: 5px solid #0a0a0a;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0px 16px;
		transition: .3s;
	}

	.news:hover h3 {
		border-left: 5px solid #d81f83;
		transition: .3s
	}

	.news-date {
		position: absolute;
		left: 0;
		bottom: 4%;
		color: #858585;
		font-size: 16px;
		margin: 0;
		padding-left: 21px;
	}

	.news a:nth-of-type(1) {
		position: absolute;
		right: 0;
		bottom: 4%;
		color: #858585;
		font-size: 16px;
		margin-right: 24px;
		padding-right: 52px;
		z-index: 1;
	}

	.news a:nth-of-type(1):hover div {
		background-color: #d81f83; 
	}

	.news a:nth-of-type(2) {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.news-text {
		padding: 28px 178px;
		font-size: 18px;
	}

	.news-text p {
		margin-bottom: 32px;
		margin-right: 200px;
	}
	.news-text h3 { 
		font-weight: 700; 
		margin-bottom: 32px;
		margin-right: 200px;
		font-size: 24px;
	}

	.news-nav {position: relative;}

	.news-nav a {
		position: relative;
		display: inline;
		padding: 0px 56px;
		font-size: 16px;
		color: #858585;
	}

	.news-nav a:nth-of-type(1) {padding-left: 0;}
	.news-nav a:hover div {background-color: #d81f83;}

	.news-nav p {
		position: absolute;
		font-family: 'Oswald', sans-serif;
		font-size: 20px;
		top: 0;
		right: 0;
		margin: 0;
	}
/** NEWS ENDED **/

/** BLOCK **/
	.w-lg-75 {width: 75% !important;}

	.block {
		position: relative;
		border: 2px solid #dadada;
		padding: 16px 128px;
		margin-top: 16px;
	}

	.block h3 {
		font-size: 20px;
		padding-right: 24px;
		margin: 0;
		font-weight: 700;
		cursor: pointer;
	}

	.block-item {
		position: absolute;
		top: 14px;
		right: 320px;
		font-size: 20px;
		padding-right: 24px;
		margin: 0;
		font-weight: 700;	
	}

	.block-price {
		position: absolute;
		top: 14px;
		right: 200px;
		font-size: 20px;
		padding-right: 24px;
		margin: 0;
		font-weight: 700;	
	}

	.plus {
		position: absolute;
		top: 18px;
		right: 128px;
		width: 24px;
		height: 24px;
		cursor: pointer;
		transition: .3s;
	}

	.plus div {
		position: absolute;
		top: 11px;
		left: 5px;
		height: 2.4px;
		width: 14px;
		background-color: #0e0e0e;
		transition: .5s;
	}

	.plus div:nth-of-type(2) {
		transform: rotate(90deg);
	}

	.block h3:hover .plus div {
		background-color: #d81f83 !important;
		transition: .3s;
	}

	.info {
		padding-top: 16px;
		display: none;
	}

	.info-item {
		border-top: 1px solid #c4c4c4;
		padding: 16px 0px;
	}
	.info-item:first-child {border: none !important;}

	.info-item p.price {
		position: absolute; 
		top: 14px;
		right: 16px;
		font-family: 'Oswald', sans-serif;
		font-size: 20px;
		font-weight: 700;
	}

	.info-item h3 {text-transform: uppercase;}

	.info-item-additional p {
		display: inline;
		margin-right: 64px;
		font-size: 14px;
		color: #858585;
		font-weight: 600;
	}

	.info-item-additional p:nth-of-type(2) {margin-right: 0;}

	.active-plus {
		transform: rotate(45deg);
		transition: .5s;
	}
/** BLOCK ENDED **/

/** POPUP **/
	.popup	{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.6);
		z-index: 4;
		display: none;
	}

	.popup-container {
		position: relative;
		width: 66%;
		left: 17%;
		top: 120px;
		padding: 64px 256px;
		background-color: white;
	}

	.popup-container h3 {
		font-weight: bold;
		margin: 0;
	}

	.popup a {
		position: relative;
		font-size: 12px;
		display: inline;
		margin-left: 28px;
	}

	.popup i {
		position: absolute;
		top: 4px;
		left: -18px;
		font-size: 16px;
	}

	.popup p {
		font-size: 14px;
		color: #696969;
	}

	.popup-close {
		position: absolute;
		top: 56px;
		right: 200px;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}

	.popup-close div {
		position: absolute;
		top: 9px;
		width: 20px;
		height: 2px;
		background-color: #0a0a0a;
		transition: .3s;
	}

	.popup-close div:nth-of-type(1) {transform: rotate(45deg);}
	.popup-close div:nth-of-type(2) {transform: rotate(-45deg);}

	.popup-close:hover div {
		background-color: #d81f83; 
		transition: .3s;
	}
/** POPUP ENDED **/

/** BANERS **/
	.baner {
		position: relative;
		width: 100%;
		height: 420px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.baner-text {
		position: absolute;
		top: calc(50% - 42px);
		right: 10%;
		font-size: 56px;
		color: #fafafa;
		margin: 0;
		text-transform: uppercase;
		text-shadow: -1px -1px #b5b5b5,
					-1px -2px #b5b5b5,
	               -2px -2px #b5b5b5,
	               -2px -1px #b5b5b5,
	               -1px 1px #b5b5b5,
	               -1px 2px #b5b5b5,
	               -2px 2px #b5b5b5,
	               -2px 1px #b5b5b5,
	               1px 1px #b5b5b5,
	               1px 2px #b5b5b5,
	               2px 2px #b5b5b5,
	               2px 1px #b5b5b5,
	               1px -1px #b5b5b5,
	               1px -2px #b5b5b5,
	               2px -1px #b5b5b5,
	               2px -2px #b5b5b5;
	}

	.baner-2 {
		position: relative;
		width: 100%;
		height: 252px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.baner-2 h2 {
		position: absolute;
		top: 56px;
		height: 140px;
		width: 100%;
		margin: 0;
		padding: 28px 128px;
		text-align: left;
		background-color: rgba(255, 255, 255, 0.7);
	}

	.baner-3 {
		position: relative;
		width: 100%;
		height: 550px;
		margin-bottom: 28px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
/** BANERS ENDED **/

/** SHOP ITEM **/
	.shop-item {
		position: relative;
		border: 2px solid #dadada;
		margin-top: 16px;
	}

	.shop-item img {height: 240px;}

	.shop-item h3 {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 24px;
	}

	.shop-item .price {
		font-weight: 700;
		font-size: 36px;
		font-family: 'Oswald', sans-serif;
	}

	.shop-item-close {
		position: absolute;
		top: 32px;
		right: 32px;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}

	.shop-item-close div {
		position: absolute;
		top: 9px;
		width: 20px;
		height: 2px;
		background-color: #0a0a0a;
		transition: .3s;
	}

	.shop-item-close div:nth-of-type(1) {transform: rotate(45deg);}
	.shop-item-close div:nth-of-type(2) {transform: rotate(-45deg);}

	.shop-item-close:hover div {
		background-color: #d81f83; 
		transition: .3s;
	}
/** SHOP ITEM ENDED **/

/** PAGINATION **/
	.pagination a {
		color: #858585;
		font-family: 'Oswald', sans-serif;
		margin: 0px 2px;
		padding: 0px 4px;
		position: relative;
		text-align: center;
	}

	.pagination a.active {
		color: #0a0a0a;
		border-bottom: 2px solid #0a0a0a;
	}
	.pagination a.active:hover { border-bottom: 2px solid #d81f83 !important; }

	.pagination a:first-child, .pagination a:last-child {
		width: 30px;
	}
	.pagination a:last-child { transform: rotate(180deg); }

	.pagination a div {
		position: absolute;
		background-color: #0a0a0a;
		width: 10px;
		height: 2px;
		top: calc(50% - 1px);
		left: 8px;
		transition: .3s;
	}

	.pagination a div:nth-of-type(1), .pagination a div:nth-of-type(3) { 
		transform: translate(0px, 3px) rotate(45deg); 
	}
	.pagination a div:nth-of-type(2), .pagination a div:nth-of-type(4) { 
		transform: translate(0px, -3px) rotate(-45deg);
	}
	.pagination a:hover div:nth-of-type(3) { transform: translate(-7px, 3px) rotate(45deg); }
	.pagination a:hover div:nth-of-type(4) { transform: translate(-7px, -3px) rotate(-45deg); }
/** PAGINATION ENDED **/

.brand-container {
	padding: 0px 15vw;
}

.brand-container img {
	width: 200px;
	padding: 32px 24px;
}

.brands a {
	position: relative;
	color: #858585;
	font-size: 16px;
	padding-right: 52px;
}

.brands a:hover div {background-color: #d81f83;}

